* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(16, 24, 32);
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(32, 48, 64);
}

input {
    background-color: rgb(0, 8, 16);
    color: white;
    border: 1px solid white;
    padding: 8px 16px 8px 16px;
}

input:hover {
    background-color: rgb(32, 48, 64);
}

header {
    height: 50px;
    background-color: rgb(0, 8, 16);
    border-bottom: 1px solid white;
}

main {
    height: calc( 100% - 50px);
    padding: 30px;
}

video {
    height: 100%;
    width: 100%;
}

.hide {
    display: none !important;
}

#connected {
    color: rgb(128, 255, 128) !important;
}

#disconnected {
    color: rgb(255, 0, 0) !important;
}

.relative {
    position: relative;
}

.top {
    position: absolute;
    top: 0;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.middle {
    top: 50%;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.center {
    left: 50%;
}

.right {
    right: 0;
}